@use "../../global" as *;

.u-fade-in {
  transform: translateY(20px);
  opacity: 0;
  transition: opacity .6s ease, transform .6s ease;
}

.u-fade-in.is-active {
  transform: translateY(0);
  opacity: 1;
}
