@use "../../global" as *;

.u-scroll-active {
  transform: translateY(30px);
  opacity: 0;
  transition:
    opacity 1s,
    transform .8s ease-in-out;

  &.is-active {
    transform: translateY(0);
    opacity: 1;
  }
}
