@use "../../global" as *;

.p-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.2;

    @include sp() {
      font-size: 4rem;
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 1.6;

    @include sp() {
      font-size: 1.6rem;
    }
  }
}
