@use "../../global" as *;

.p-section {
  position: sticky;
  top: 0;
  width: 100%;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      z-index: #{100 + $i};
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}

