@use "../global" as *;

.l-navigation {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: flex-end;

  @include sp() {
    position: absolute;
    top: 6rem;
    right: 0;
    left: 0;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    width: calc(100vw - 3.5rem);
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
    border-radius: 2.2rem;
    box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 5%);
    transition: $transition-basic;
    clip-path: inset(0 0 100% 0);
    padding-block: 4.5rem;
    margin-inline: auto;

    &.is-active {
      clip-path: inset(0 0 0 0);
    }
  }

  &__list {
    display: flex;
    gap: 4rem;
    align-items: center;

    @include sp() {
      flex-direction: column;
      gap: 3.5rem;
      width: 100%;
      margin-bottom: 4rem;
      text-align: center;
    }
  }

  &__item {
    position: relative;

    @include sp() {
      width: 100%;
    }
  }

  &__link,
  &__button {
    .en {
      font-weight: $weight-semi-bold;
      font-size: 1.6rem;
      font-family: $font-poppins;
      line-height: 1;
      letter-spacing: 0;

      @include sp() {
        font-size: 2.9rem;
      }
    }

    @include sp() {
      .ja {
        font-weight: $weight-bold;
        font-size: 1.4rem;
        line-height: 1;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    transition: $transition-basic;

    @include sp() {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;
    }

    @include sp() {
      .ja {
        color: $color-accent;
      }
    }

    @include hover() {
      &::after {
        width: 100%;
      }
    }
  }

  &__cta {
    @include sp() {
      width: 100%;
    }
  }

  &__button {
    position: relative;
    display: grid;
    place-items: center;
    width: 20rem;
    height: 6rem;
    overflow: hidden;
    color: #fff;
    background: $gradient-blue-blue;
    border-radius: 3rem;

    @include sp() {
      margin-inline: auto;
      place-content: center;
      gap: 1.2rem;
      width: 30rem;
      height: 9rem;
      border-radius: 4.5rem;
    }

    &::before {
      position: absolute;
      background: rgb(237 0 0 / 99.6%);
      border-radius: 3rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      content: "";
      inset: 0;
    }

    span {
      position: relative;
      z-index: 1;
    }

    @include hover() {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
