$color-font-base: #111 !default;
$color-bg-main: #fcfcfc !default;
$color-black: #222 !default;

$select: #fbca5a !default;

$weight-base: 400 !default;

$weight-bold: 700 !default;
$weight-black: 900 !default;

$font-base: "Noto Sans JP", sans-serif !default;
// $font-lato: "Lato", sans-serif !default;
// $font-roboto: "Roboto", sans-serif !default;
// $font-monserrat: "Montserrat", sans-serif !default;

$transition-basic: .15s ease-in-out !default;

$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 1280px !default;
